body {
  background-color: silver;
  color: teal;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h2 {
  text-align: left;
}

li {
  text-align: left;
}